# Ignorar archivos de sistema y editores
.DS_Store
Thumbs.db
.vscode/

# Node/npm
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Python cache (por si acaso)
__pycache__/
*.pyc

# Otros
*.log
.env
